*.pdb
*.suo
*.user
Obj
bin/Debug
bin/Release
packages
.vs
CharSet Manager/.vs
CharSet Manager/bin
FoenixIDESetup/Debug
FoenixIDESetup/Release
FoenixIDETester/bin
Tests/*.hex
Tests/*.lst
Tools/WDCTools Version 2.1.zip